@import "../../../assets/scss/variables.scss";
@import "../../../assets/scss/mixins.scss";


.master-layout{
    @include flex(flex-start,space-between);

    &__content{     
        flex:1;

        background-color: #f4f6f9;
        margin-left: 26rem;
        margin-top: 7rem;
        min-height: calc(100vh - 7rem);
        padding-bottom:6rem;
        position: relative;
    }
}